.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 700;
  margin-top: 40px;
}
.container {
  flex-basis: auto;
  background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
  background-color: hsl(240, 78%, 98%);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.price-heading {
  color: hsl(232, 13%, 33%);
}

.toggle-container{
  display: flex;
  justify-content: space-evenly;
  gap: 26px;
  color:  hsl(234, 14%, 74%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: .4s;
  transition: .4s;
  }
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
input:checked + .slider {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}


.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 50px;
  flex-wrap: wrap;
}
  
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color:  hsl(233, 13%, 49%);
  padding: 30px;
  padding-right: 50px;
  border-radius: 16px;
}

.card-heading {
  font-weight: bold;
}

.price {
  color: hsl(232, 13%, 33%);
  font-size: 36px;
  font-weight: 900;
}
.price-number{
  font-size: 60px;
}
hr{
  border: 0;
  clear:both;
  display:block;
  width: 110%;               
  background-color: hsl(234, 14%, 74%);
  height: 1px;
}

.card-button {
  color: white;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border: none;
  font-weight: bold;
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  margin-top: 30px;
}

.card:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color:  white;
  padding: 50px;
  padding-right: 60px;
  border-radius: 16px;
}
.card:hover .card-button{
  background-color: white;
  color: hsl(237, 63%, 64%);
  background-image: url('');
}
.card:hover .price{
  color: white;
  font-size: 46px;
}
.card:hover .price-number{
  font-size: 65px;
}




